<?xml version="1.0"?>
<launch>    

	<arg name="rviz_conf" default="$(find lidar_rgb_radar_sync)/rviz/sync.rviz" />
                
                 
                 
                 
                
                 <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/acp/catkin_ws/src/lidar_rgb_radar_sync/sync_rosbag/sync.bag"/>
                 
                 
                 
                
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" />
	
	
	    
                 
                  
                 
                 
                 
                 
</launch>




