<?xml version="1.0"?>
<launch>    

                 <!--arg name="rviz_conf" default="$(find lidar_rgb_radar_sync)/rviz/sync.rviz" /-->
                
               
                 <!--node pkg="tf" type="static_transform_publisher" name="radar_to_lidar"  args="0.02 0.0 0.04 0.0 0.0 0.0 lidar base_link 100" /-->
                 
                 
                 <node pkg="tf" type="static_transform_publisher" name="radar_to_lidar"  args="0.0 0.0 0.0 0.0 0.0 0.0 lidar base_link 100" />
                 
                 <!--node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0.15 0.02 0.0 0.0 0.0 0.0 lidar radar" /-->
                 
                 <!--node pkg="radar_initialization" type="radar_initialization" name="radar_initialization"/-->
                 <!--node pkg="rosbag" type="play" name="player" output="screen" args="clock /home/acp/catkin_ws/radar_bag/indoor.bag"/-->
                 
                 
                 
                  <include file="$(find libL3cam)/launch/sensor_fusion.launch"/> 
                  
                  
                   <include file="$(find umrr_driver)/launch/automotive_radar_visualization.launch"/> 
                  
                 
                 
                 
                 
                 
                 <!--Start detector for the Synchronization node -->
	<node pkg="lidar_rgb_radar_sync" type="lidar_rgb_radar_sync" name="lidar_rgb_radar_sync"/>
	
	
	
	<!--node pkg="LidarRGB" type="LidarRGB" name="LidarRGB" output="screen"/-->
	<!-- Mono camera: Start detector for the RGB camera -->
	<!--node pkg="mono_detector" type="mono_detector_node" name="mono_detector"/-->
                 
                 
                
                <!-- launches the radar package --> 
                 <!--include file="$(find umrr_driver)/launch/automotive_radar_visualization.launch"/--> 
                
                 
                 <!-- this launches the radar_msgs/RadarDetectionArray Message -->
                 <!--node pkg="radar_detection_msg" type="radar_detection_msg" name="radar_detection_msg"/-->
                 
                 <!-- Radar: Start detector for radar -->
	<!-- _selection_basis: either rcs or range -->
	<!-- _selection_criterion: either min or max -->
	<!--node pkg="radar_detector" type="radar_detector_node" name="radar_detector" /-->
	
	<!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" /-->
	
	
	    
                 
                  
                 
                 
                 
                 
</launch>




