<?xml version="1.0"?>
<launch>
    <arg name="config_file_umrr_occ" default="$(find umrr_driver)/cfg/collision_avoidance/umrr_driver_occ_grid_config.yaml" />
    <arg name="config_file_umrr_radar" default="$(find umrr_driver)/cfg/umrr_driver_default_config.yaml" />
    <arg name ="node_namespace_occ_grid" default ="occupancy_grid" />
    <arg name ="node_namespace_radar" default ="radar" />

    <rosparam file="$(arg config_file_umrr_occ)" subst_value="true"/>
    <!-- Group nodes to provide convenient way of starting multiple nodes -->
    <group ns="$(arg node_namespace_occ_grid)">
        <node name="umrr_can_publisher" pkg="umrr_driver" type="umrr_can_publisher.py" output="screen" required="true">
                <param name="frame_id" value="$(arg node_namespace_occ_grid)" />
        </node>
    </group>
    
    
    <rosparam file="$(arg config_file_umrr_radar)" subst_value="true"/>
    <group ns="$(arg node_namespace_radar)">

        <node name="umrr_can_publisher" pkg="umrr_driver" type="umrr_can_publisher.py" output="screen" required="true">
            <param name="frame_id" value="$(arg node_namespace_radar)" />
        </node>

    </group>

</launch>



