<?xml version="1.0"?>
<launch>    

             
                 
                 <!--Start detector for the Synchronization node -->
	<!--node pkg="lidar_rgb_radar_sync" type="lidar_rgb_radar_sync" name="lidar_rgb_radar_sync"/-->
	<node pkg="image_topic" type="image_topic" name="image_topic"  output="screen"/>
	
	<node pkg="radar_topic" type="radar_topic" name="radar_topic"  output="screen"/>

	<node pkg="lidar_topic" type="lidar_topic" name="lidar_topic"  output="screen"/>
	
	<node pkg="label_topic" type="label_topic" name="label_topic"  output="screen"/>
	
	
	
	
	
	<!--Start detector for the Synchronization node -->
	<!--node pkg="real_data_sync" type="real_data_sync" name="real_data_sync" output="screen"/-->
	<!--node pkg="pclidartogray" type="pclidartogray" name="pclidartogray" output="screen"/-->
		    
                 <!--node pkg="pclidar2gray" type="pclidar2gray" name="pclidar2gray" output="screen"/-->
                   
                   
                 <!--node pkg="pcradar2gray" type="pcradar2gray" name="pcradar2gray" output="screen"/-->
                 
                 

                 <!--node pkg="ros_segnetpy" name="ros_segnet" type="ros_segnet.py" output="screen"/-->
                 <!--node pkg="ros_segnetpy" name="segnet_nlab" type="segnet_nlab.py" output="screen"/-->
                 <!--node pkg="ros_segnetpy" name="segnet_class" type="segnet_class.py" output="screen"/-->
                 <node pkg="ros_segnetpy" name="segnet" type="segnet.py" output="screen"/>

                 
                 
                  <!--node pkg="ros_segnetpy" name="talker" type="talker.py" output="screen"/-->
                  
                 
                 
                 
                 
</launch>




