<?xml version="1.0"?>
<launch>    

   <node name="dl_image_start_pause_client" pkg="dl_image_ymdhmsz" type="dl_image_start_pause_client"     output="screen"/>
   <node name="dl_lidar_start_pause_client" pkg="dl_lidar_ymdhmsz" type="dl_lidar_start_pause_client"     output="screen"/>
   <node name="dl_radar_start_pause_client" pkg="dl_radar_ymdhmsz" type="dl_radar_start_pause_client"     output="screen"/>
                         
</launch>




